.App {
  text-align: center;
}

.grid {
   margin: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;

  align-items: center;
  justify-items: center;
}

  
.card {
    background-color: rgb(5, 133, 165);
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 1em;
}

h3 {
    margin: 0 0 1em 0;
    padding: 0;
}

img {
    border-radius: 15px;
    height: 300px;
    width: 300px;
}



header {
  background-color: gold;
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.row h1 {
  margin: 0.3em 3em;
}

.row h6 {
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 10px;

  font-size: 1em;
  margin: 0.3em 3em;
}

.row nav{
  margin: 1em 0;
}