.App {
  text-align: center;
  display: grid;
  grid-template-rows: 150px auto;
  font-family: Poppins;
}

header {
  background-color: rgb(6, 89, 138);
  
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: center;
  align-items: center;
}

header .header-right {
    
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center;
  align-items: center;

}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.product-card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.product-card h5 {
  margin: 3px 0;
  font-size: 20px;
  text-align: left;
}

.product-card h6 {
  margin: 3px 0;
  font-size: 10px;
  text-align: left;
}

#cart {
  background-color: rgba(255, 0, 0, 0.658);
  width: 500px;
  position: absolute;
  right: 0%;
  height: 100%;
  display: block;
}

.cart-item {
  display: flex;
  flex-direction: column;
  background-color: purple;
  height: fit-content;
  width: 100%;
  margin: 10px;
}

.cart-item h6 {
  font-size: 1rem;
  margin: 10px 0;
}

#burger {
  height: 24px;
  width: 24px;
  color: whitesmoke;
}